$yellow: #F2911A;
$orange: #EA5C28;
$red: #E52A2D;
$purple: #B73188;
$blue: #3AA2DB;
$black: #0a0a0ae0;
$darker-gray: #666666;
$light-gray: #FAFAFA;
$white : #fff;
$green: #32B796;

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  color: $black;
}

h1 {
  font-size: 3.25rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

h5 {
  font-size: 1.25rem !important;
}

h6 {
  font-size: 1rem !important;
}

.small {
  font-size: 0.75rem !important;
}
