a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: #fafafa !important;
  color: $red !important;
}


.navbar-link:not(.is-arrowless)::after {
  border-color: $red !important;
}

