.splashbanner-img {
  max-height: calc(100vh - 100px);
  margin-top: 16px;
  img {
    margin: 0 auto;
  }
}

.main-text {
  height: 100%;
  display: flex;
  align-items: center;
  h1 {
    margin-bottom: 32px;
  }
}
